.inputs{
  text-align: center;

  .input{
    margin:1rem;
    border: 1px solid #D8A7B1;
    background-color: #EF7C8E;
    padding:1rem;
  }
  
  .button{
    border-radius: 5px;
    background-color: #B6E2D3;
    padding: 1rem;
  }
}

